fastapi
uvicorn
pypdf
langgraph
langchain-community
langchain-classic
langchain-huggingface
langchain-text-splitters
langchain-chroma
langchain-google-genai
langchain-groq
langchain-mcp-adapters
mcp
fastmcp
sentence-transformers
rank_bm25
flashrank
